<%- include('header') %>
<div> Population: <%= entries[0].population  %> </div>
<div>Time to Elapse: <%= entries[0].timeToElapse %></div>
<div>Reported Casea : <%= entries[0].reportedCases %></div>
<div> Total Hospital Beds : <%= entries[0].totalHospitalBeds %></div>
<div> periodType: <%= entries[0].periodType %> </div>
<div> currentlyInfected: <%= results[0].impact.currentlyInfected %> </div>
<div> realCurrentlyInfected: <%= realResults[0].impact.currentlyInfected %> </div>



<%- include('footer') %>

